@import url('https://fonts.cdnfonts.com/css/poppins');

:root{
    --proofreader-generated-content: #2E2C2E ;/* var(--proofreader-generated-content); */
    --proof-reader-content: #CCC;
}

:root[theme="dark"] {
    --proofreader-generated-content: #2E2C2E ;/* var(--proofreader-generated-content); */
    --darker-gray: #232023 ;
}
proofreader-page{
    position: relative;
}
.proofreader-background{
    z-index: -1;
    object-fit: cover;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 1;
}
#page-content{
    overflow:hidden;
}

.label{
    margin-bottom: 12px;
    font-size: 16px;
    font-weight: 600;
}
.personality{
    margin-right: 40px;
}
#language,
#personality {
    margin-top: 12px;
    width: 100%;
    height: 35px;
    border-radius: 10px;
    font-size: 12px;
    font-weight: 400;
    color: var(--settings-page-theme);
    border: 1px solid var(--blue-border);
    background:none;
    padding:7px 12px;
}
#text{
    height: calc(100% - 24px);
}
.form-item > textarea {
    margin-top: 12px;
    padding: 12px;
    width: 100%;
    resize: none;
    border: 1px solid var(--blue-border);
    border-radius: 10px;
}
option {
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    color: var(--settings-page-theme);
    line-height: normal;
}
.number-input {
    max-width: min-content;
}
.form-button{

}
.proof-reader-content-wrapper{
    height:100%;
    width:100%;
}
.proof-reader-content {
    display: flex;
    min-height: max-content;
    width: 100%;
    height:50%;
    padding: 0 40px 40px 40px;
}

.form-item-container {
    width: 100%;
    display:flex;
    flex-direction:column;
}
.proof-reader-page {
    height: 100%;
}
#text-textarea {
    height: 100%;
    width: 100%;
}
@media screen and (max-width: 1100px) {
    .generate-content {
        flex-direction: column;
        justify-content: center;
    }

}
.proof-reader-cell{
    font-size: 26px;
    font-weight: 600;
    line-height: 42px;
    text-align: left;
    color: var(--left-sidebar);
    //border-bottom: 1px solid var(--very-light-gray);
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.proof-reader-header{
    width:100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 40px;
}
.proof-reader-header-wrapper{
    width: 100%;
    display: flex;
    justify-content: space-between;
    color: var(--documents-page-header);
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: capitalize;
}
.proof-reader-form{
    display:flex;
    width:100%;
    height:100%;
}
.right-content{
    width: 50%;
    height:100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.left-content{
    height:100%;
    width: 50%;
    margin-right: 40px;
}

#prompt{
    width:100%;
    height:100%;
    border: 0.5px solid var(--prompt-shadow);
    border-radius: 8px;
    color: var(--prompt-text);
    padding:12px;

}

#details{
    height: calc(100% - 24px);
}
.details{
    margin-bottom: 30px;
    height: calc(100% - 59px);
}
.generated-text-title{
    padding: 12px;
    font-size: 16px;
    font-weight: 600;
    display: flex;
    align-items: center;
    color: var(--darker-gray);
    border-bottom: 1px solid var(--very-light-gray);
}
.proof-reader-generated-content{
    display: flex;
    min-height: fit-content;
    width:100%;
    height: 50%;
    padding:0 40px 40px 40px;
    flex-direction:column;
}
.generated-text,
.observations{
    padding: 12px;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0;
    text-align: justify;
    color:var(--proofreader-generated-content);
    overflow-y: scroll;
    height: 170px;
}
.generated-text-container{
    display:flex;
    padding-bottom: 40px;
}
.ai-text-subtitle{
    color:  var(--gray-black);
    font-size: 16px;
    font-weight: 600;
}
.generated-text-inner-container{
    border: 1px solid var(--blue-border);
    background: var(--very-light-blue);
    border-radius: 10px;
    overflow-y:scroll ;
    width: 50%;
}

.generated-text-buttons{
    margin-top:8px;
    display:flex;
    flex-direction:column;
    height:60px;
    justify-content:space-between;
    cursor:pointer;
}

#refresh-button,
#copy-button{
    margin-left: 10px;
    display: none;
}
#refresh-button:hover,
#copy-button:hover{
    cursor: pointer;

}
.improved-text-container{
    display: flex;
    padding: 12px;
    border-bottom: 1px solid var(--very-light-gray);
}
.generate-section{
    display: flex;
    align-items: end;
}
.generate-button{
    width: calc(100% - 264px);
    justify-content: center;
}
.right-margin{
    margin-right: 40px;
}
